pkgbase = bitcoin-core
	pkgdesc = Headless version of Bitcoin Core software ready to run as backend for other services, e. g. Lightning-network.
	pkgver = 0.17.1
	pkgrel = 1
	url = https://www.bitcoin.org/
	install = service.install
	arch = x86_64
	license = MIT
	makedepends = boost
	makedepends = python
	depends = boost-libs
	depends = libevent
	depends = miniupnpc
	depends = zeromq
	optdepends = tor
	conflicts = bitcoin-daemon
	conflicts = bitcoin-cli
	conflicts = bitcoin-tx
	source = bitcoin-0.17.1.tgz::https://github.com/bitcoin/bitcoin/archive/v0.17.1.tar.gz
	source = bitcoin.conf.gen.m4
	source = bitcoind.service
	sha256sums = d51bae80fc0a460ce752d04097c4a1271a66b55260d53165d82313488117d290
	sha256sums = 027ca9fea5d2afe34af7e6e82dac0e5468cc2831111b5b0b7770da0d012517d3
	sha256sums = 8d892ba81d45443e7338d9137894990d38be6a3ab8a108a4d068e7a635900e7a

pkgname = bitcoin-core

